@charset "UTF-8";
/* CSS Document */


/*this is the nav that expands the entire page*/
nav{
	font-family: 'Quicksand', sans-serif;
	width:100%;
	
	

}
nav ul{
	list-style-type:none;
	margin:0;
}
nav li{
	display:inline-block;
	padding: 5px;
	margin-bottom:50px;
	
	
	
}
nav a{
	color:black;
	text-decoration:none;
	padding:65px;
}
/*this makes it so the text turns blue when someone hovers over*/
a:hover{
	color:#66D2C8;
	
}

 
/*.logo{
	width: 250px;
	height:auto;
	....may not use this....
}*/
