@charset "UTF-8";
/* CSS Document */

.style {
	width:180px;
	height:auto;
	margin:-20px 0;
	
}
/*first div */
div{
	margin: 0 auto; 
	width:1200px;
}


.textforimage{
	width:400px;
	height:auto;
	position:absolute;
	top:285px;
	left: 300px;

}

.backless{ /*these are images for backless dresses*/
	width:500px;
	height:auto;
	margin-left:350px;
	
	
	
}
p {
	font-family: 'Playfair Display', serif;
	width:600px;
	text-align:center;
	margin:20px auto;
	
	
}

h1{
	font-family: 'Playfair Display', serif;
	font-size:50px;
	margin-bottom:100px;
	text-align: center;
	font-weight:100;
	
	
	
}


/*second div*/

.seconddiv{
	margin: 0 auto; 
	width:1200px;
	height:auto;
}

.offtheshoulder{ /*image of off the shoulder dress*/
	margin-left:350px;
	width:500px;
	height:auto;
	margin-top:100px;
	
	
	
}
.textforimage2{ /*text for off the shoulder image*/
	position:absolute;
	width:600px;
	height:auto;
	top:1100px;
	left:300px;
	
}

.seconddiv p{ 
	width:600px;
	padding: 16px;
	margin-top:20px;
	
	
	
}
/*clear class*/
.clear{
	clear:both;
}
/*third div*/
.thirddiv{
	margin: 0 auto; 
	width:1200px;
}
.thirddiv p{
	width:600px;
	
}
.elegant{
	width:500px;
	height:auto;
	margin-left:350px;
	margin-top:100px;
}
.eleganttext{
	position:absolute;
	width:350px;
	height:auto;
	left:300px;
	top:1970px;
}
/*fourth div*/
.fourthdiv{
	margin: 0 auto; 
	width:1200px;
	height:auto;
}
.fourthdiv p{
	width:600px;
}
.simpledress{
	width:500px;
	height:auto;
	margin-left:350px;
	margin-top:100px;
}
.simpletext{
	position:absolute;
	width:350px;
	height:auto;
	left:300px;
	top:2800px
}
/*fifth div*/
.fifthdiv{
	margin: 0 auto; 
	width:1200px;
	height:auto;

}

.strapless{
	width:500px;
	height:auto;
	margin-left:350px;
	margin-top:100px;
}
.fifthdiv p{
	width:600px;
	
}

.straplesstext{
	position:absolute;
	width:350px;
	height:auto;
	left:300px;
	top:3650px;
}