@charset "UTF-8";
/* CSS Document */

div{/*div for everyone*/
	margin:10px 50px;
	width:1300px;
}

h1{/* the title */
	font-family: 'Playfair Display', serif;
	font-size:50px;
	margin: 0 10px;
	text-align: center;
	font-weight:100;
}

.inspiration{/*image that says "inspiration" */
	width:370px;
	height:auto;
	margin:-10px 10px;
}

.photos{/*photos div*/
	margin:20px 90px;
	width:1200px;
}

.photos img {/*first three images on page*/
	width:320px;
	height:auto;
	float:left;
	padding:20px;
}

.photostext p{ /*first paragraph*/
	margin: 40px 50px;
	font-family: 'Playfair Display', serif;
	clear:left;
	width:900px;
	padding:10px;
	
}
.text{/*styes all the text images */
	width:170px;
	height:auto;
	margin-left:50px;
}
hr{
	width:500px;
	clear:both;
}

/*start of decoration advice div*/

.decoration img{/*image of decoration with lights*/
	width:350px;
	height:auto;
	margin: 40px 50px;
	float:left;
}
.decoration2 p{/*second paragraph*/
	font-family: 'Playfair Display', serif;
	display:block;
	clear: right;
	width:900px;
	padding:10px;
}

.decoration2 img{
	width:270px;
	height:auto;
	margin-top:50px;
}

/*hairstyle advice div*/
.hairstyle img{ /*hairstyle images*/
	width:350px;
	height:auto;
	margin:40px 50px;
	
	
}
.hairstyle2 p{/*thrid paragraph*/
	font-family: 'Playfair Display', serif;
	width:700px;
	clear:left;
	margin-left:50px;
	margin-bottom: 30px;
	padding:10px;
}
.style{/*helps text class style "hairstyle"*/
	clear:both;
	margin-left:50px;

}

.hairstyle2 img{
	width:250px;
	height:auto;
}

/*makeup advice div*/
.makeup img {/*makeup images*/
	width:340px;
	height:auto;
	margin-top:30px;
	margin:40px 50px;
}
.makeup2 p{/*fourth paragraph*/
	font-family: 'Playfair Display', serif;
	width:650px;
	clear:left;
	margin-left:50px;
	padding:16px;
	margin-bottom:50px;
}
.makeup2 img{
	width:200px;
	height:auto;
	margin-left:50px;
	clear:both;
}

/*flowers div*/
.flowers img {/*flower images*/
	width:350px;
	height:auto;
	margin-top:30px;
	float:left;
	padding:20px;
}
.flower p{/*fifth paragraph*/
	width:700px;
	clear:left;
	font-family: 'Playfair Display', serif;
	margin-left:50px;
	margin-bottom:50px;
	padding:16px;
}
.flowers{
	float:left;
}

