@charset "UTF-8";
/* CSS Document */

/*@font-face {
	font-family:"BebasNeue";
	src: href="";*/


/*start of main page*/
div{
	margin: 0 auto;
	width:1300px;

}

h1{
	font-family: 'Playfair Display', serif;
	font-size:45px;
	margin-bottom:25px;
	text-align: center;
	font-weight:100;

	
}
.perfect{
	width:250px;
	height:auto;
	margin: -16px 10px;
}
img{
	width:auto;
	height: 475px;
	margin-right: 40px;
	margin-left:40px;
	
}

.main{
	font-family: 'Playfair Display', serif;
	text-align:center;
	width:800px;
	margin-left:250px;
	margin-top:20px;

	
	
}

	
hr{
	width:600px;
	margin-top:50px;
}

	


