@charset "UTF-8";
/* CSS Document */
div{
	margin:10px 50px;
	width:1300px;
}
.mainpictures{
	margin:10px 50px;
	width:1300px;
}



.mainpictures img {
	width:350px;
	height:auto;
	float:left;
	padding:20px;
}

h1{
	font-family: 'Playfair Display', serif;
	font-size:50px;
	margin-bottom:10px;
	text-align: center;
	font-weight:100;
}

.inspiration{
	width:350px;
	height:auto;
	margin:-10px 10px;
}
