@charset "UTF-8";
/* CSS Document */

/*@font-face {
	font-family:"BebasNeue";
	src: href="";*/


nav{
	font-family: 'Quicksand', sans-serif;
	list-style:none;
	float:left;
	width:100%;
	text-decoration:none;
	margin-top: 16px;

}
nav li{
	display:inline-block;
	padding: 16px;
	
}
nav a{
	color:black;
	text-decoration:none;
	padding:75px;
}
a:hover{
	color:#66D2C8;
}
img{
	width:auto;
	height: 500px;
	margin: 20px;
}
.title{
	font-family: 'Playfair Display', serif;
	font-size:50px;
	margin-bottom: -16px;
}
p{
	font-family: 'Playfair Display', serif;
	padding:16px;
}




